doctype html
html(lang="hr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Upravljanje projektima
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header.header
      div.header-content
        h1.site-title
          a(href="/") Upravljanje projektima
        nav.nav-links
          a(href="/projects") Projekti
          a(href="/projects/new") Novi projekt
          a(href="/projects/my-managed") Moji projekti (voditelj)
          a(href="/projects/my-membership") Moji projekti (član)
          a(href="/projects/archive") Arhiva
          if currentUser
            span Prijavljeni: #{currentUser.name}
            a(href="/users/logout") Odjava
          else
            a(href="/users/login") Prijava
            a(href="/users/register") Registracija
    
    main.container
      block content
    
    footer.footer
      div.footer-content
        p © 2025 Sustav za upravljanje projektima
    
    script(src="/javascripts/main.js")