extends ../layout

block content
  h1 Prijava
  
  if errors
    ul.errors
      each error in errors
        li= error.msg
  
  form(action='/users/login', method='POST')
    div.form-group
      label(for="email") Email:
      input(type='email', name='email', id="email", required)
    
    div.form-group
      label(for="password") Lozinka:
      input(type='password', name='password', id="password", required)
    
    div.form-actions
      button.btn.btn-success(type='submit') Prijavi se
      a.btn(href='/users/register') Nemam račun